.dishes-list-item {
  border: 1px solid gray;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  width: 93%;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
@media (min-width: 768px) {
  .dishes-list-item {
    margin-bottom: 10px;
  }
}
.dish-details-container {
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.dish-name {
  font-family: 'Roboto';
  font-size: 16px;
}
@media (min-width: 768px) {
  .dish-name {
    font-size: 24px;
  }
}
.dish-price {
  font-size: 12px;
  font-family: 'Roboto';
  /* color: #3b3030; */
  color: #786d66;
  font-weight: 500;
  margin: 0px;
}
@media (min-width: 768px) {
  .dish-price {
    font-size: 20px;
  }
}
.dish-description {
  color: #b3aaaa;
  font-size: 10px;
  font-family: 'Roboto';
}
@media (min-width: 768px) {
  .dish-description {
    font-size: 18px;
  }
}
.add-cart-container {
  background-color: #035915;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}
.custom-available {
  color: #305edb;
  font-size: 12px;
  font-family: 'Roboto';
}
@media (min-width: 768px) {
  .custom-available {
    font-size: 20px;
  }
}
.not-available {
  color: #ed2b21;
  font-size: 10px;
  font-family: 'Roboto';
}
@media (min-width: 768px) {
  .not-available {
    font-size: 18px;
  }
}
.calories {
  color: #f07422;
  font-size: 10px;
  font-family: 'Roboto';
  align-self: center;
  padding-right: 5px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .calories {
    font-size: 18px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .calories {
    padding-right: 30px;
  }
}
.dish-image {
  width: 80px;
  height: 100px;
}
@media (min-width: 768px) {
  .dish-image {
    height: 220px;
    width: 150px;
  }
}
.calories-img-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.dish-buttons {
  outline: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
}
